* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --main-dark: #0c0328;
  --main-light: #f5f5f5;
  --accent-light: #f44f85; 
  --accent-dark: #7c59dd;
}

.page-html {
  height: 100%;
}

.container {
  width: 88%;
  margin: 0 auto;
}

.body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  background-color: var(--main-dark);
  color: var(--main-light);
  transition: background-color 0.235s ease-in-out, color 0.235s ease-in-out;
}

.body.theme_light {
  background-color: var(--main-light);
  color: var(--main-main);
}

/* HEADER-CONTENT */

.header {
  background-color: var(--main-dark);
  color: var(--main-light);
  transition: background-color 0.235s ease-in-out, color 0.235s ease-in-out;
}

.theme_light .header {
  background-color: var(--main-light);
  color: var(--main-dark);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  transform: rotate(-15deg);
}

.logo h1 {
  text-transform: uppercase;
  font-size: 20px;
}

.theme-btn-container {
  width: 65px;
  display: flex;
  justify-content: space-between;
}

.theme-btn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  background-image: url(../img/light.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
  background-color: var(--main-light);
  transition: background-color 0.235s ease-in-out, color 0.235s ease-in-out;
}

.theme-btn.active {
  background-image: url(../img/dark-white.svg);
  background-color: var(--accent-light);
}

.theme-btn:focus-visible {
  outline: none;
  border: 2px solid var(--accent-light);
}

.theme_light .theme-btn:focus-visible {
  border-color: var(--main-dark);
}

/* SEARCH-CONTENT */

.search {
  background: url(../img/bg-searh.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--main-light);
  position: relative;
  z-index: 1;
  margin-bottom: 60px;
}

.search::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(221, 2, 199, 0.1), rgba(37, 1, 92, 0.7));
  z-index: -1;
}

.theme_light .search::before {
  background: linear-gradient(to bottom, rgba(39, 11, 37, 0.1), rgba(255, 3, 196, 0.5));
  transition: background-color 0.235s ease-in-out, color 0.235s ease-in-out;
}

.search-container {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 100px;
}

.search-title {
  font-size: calc(1rem + 2vw);
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 40px;
}

.search-area {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  background-color: var(--main-light);
  border-radius: 20px;
  box-shadow: 0px 5px 50px 0 rgba(251, 243, 250, 0.4);
}

.theme_light .search-area {
  box-shadow: 0px 5px 50px 0 rgba(19, 1, 31, 0.7);
  transition: box-shadow 0.235s ease-in-out;
}

.search-input {
  background-color: var(--main-light);
  border: none;
  width: calc(100% - 40px - 2px);
  height: 40px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  color: var(--main-dark);
  cursor: pointer;
  caret-color: var(--accent-light);
  border-radius: 20px 2px 2px 20px;
}

.search-input:focus {
  border: 2px solid var(--accent-light);
  outline: none;
}

.search-button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: var(--main-light);
  background-image: url(../img/search.svg);
  background-size: 42% ;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 2px 20px 20px 2px;
}

.search-button:focus-visible {
  border: 2px solid var(--accent-light);
  outline: none;
}


/* MOVIES-CONTENT */

.movieContent {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}

.movie-info {
  min-width: 280px;
  width: 100%;
  max-width: 340px;
  border-radius: 10px;
  margin-bottom: 40px;
  background-color: var(--main-light);
  position: relative;
  transition: background-color 0.235s ease-in-out;
}

.theme_light .movie-info {
  background-color: var(--main-dark);
}

.movie-image {
  border-radius: 10px;
  width: auto;
  min-width: 100%;
  max-height: 485px;
}

.movie-description {
  padding: 10px;
  color: var(--main-dark);
  transition: color 0.235s ease-in-out;
}

.theme_light .movie-description {
  color: var(--main-light);
}

.movie-title {
  color: var(--accent-light);
  font-size: 1.3rem;
  font-weight: 700;
  padding-top: 7px;
  line-height: 100%;
}

.movie-year {
  opacity: 0.6;
  font-size: 1rem;
  line-height: 100%;
  font-weight: 700;
}

.movie-genre {
  font-size: 0.9rem;
  padding-bottom: 10px;
}

.movie-reiting {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 46px;
  height: 46px;
  background-color: rgba(0,  0, 0, 0.6);
  color: var(--main-light);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.2rem;
  border: 4px solid var(--accent-light);
}

.movie-reiting_green {
  border-color: #18b222;
}

.movie-reiting_red {
  border-color: #c50909;
}

.movie-reiting_yellow {
  border-color: #f0bf0b;
}


/* FOOTER  */

.footer {
  text-align: center;
  padding: 40px 0;
}

.github-svg path{
  fill: var(--main-light)
}

.theme_light .github-svg path{
  fill: var(--main-dark)
}

.github-svg:hover {
  opacity: 0.5;
}

.footer-text {
  font-size: 14px;
  max-width: 800px;
  margin: 0 auto;
}